<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/logo.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="/static/function.js" type="text/javascript"></script>
</head>

<body>
<style>
 .dropdown-menu >  li > a:hover {
    background-color: #337ab7;
}
.dropdown-menu{
    width : 200px;
    text-align : center;
}

body {
	font-family: 'Open Sans', sans-serif;
	/*background:#66D455;*/
	background: linear-gradient(to bottom, #00111a 0%, #000000  100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}
#subdiv{
        min-height: 20px;
        margin-bottom: 20px;
        background-color: transparent;
        position: fixed;
        margin-left: 10px;
        margin-bottom: 100px;
        margin-top: 80px;
        width:180px;
        height: 360px;
}
#maindiv{
         position: relative;
        margin-top: 100px;
        margin-left: 150px;
        font-size: 12px;
        font-weight: 200;
        width: 1340px;
        height: 710px;
        border-radius: 1%;
        background-color: #ECF0D7;
        overflow-y:auto;

}
.dropbtn {
    background : none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top : 10px;
}

.dropdown {
    position: relative;
    margin-right : 30px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #337ab7}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00000;
}
.btn{
    width : 200px;
}
#subbutton{
    width : 180px;
    padding : 5px;
    margin-bottom : 2px;
    background-color: #ECF0D7;
    border : groove;
    color : black;

}
.caret{
    display : none;
}

#contentdiv{
    margin-top : 84px;
    margin-right : 500px;
}
#custom{
    width : 200px;
    border : groove 2px;
    height : 37px;
    background-color: #ECF0D7;

}

</style>
<script>
    var name=null;
    var btn_name = null;
    var opname = null;
    function getbuttonname(id){
        name =  document.getElementById(id).innerHTML;

    }
    function getoptionname(opid){
        opname = document.getElementById(opid).innerHTML;
        btn_name = name;
        //alert(opname);
        //alert(btn_name);
    }

    function exit(){
  //  alert("hello");

        var di = document.getElementById("maindiv");
         var troubleshoot_table = document.createElement("table");

         var row0 = document.createElement("tr");
         var row1 = document.createElement("tr");
         var row0_td1 = document.createElement("td");
         var row1_td1 = document.createElement("td");
         var row0_inp1 = document.createElement("label")
         //row0_inp1.readOnly = "True";
        // row0_inp1.disabled = "True";
         row0_inp1.innerHTML = btn_name+"_"+opname;
         row0_inp1.name="labl";
         row0_inp1.style.marginLeft = "225px";
         row0_inp1.style.border= "none";
         row0_inp1.style.marginTop = "20px";

         row0_td1.appendChild(row0_inp1);
         row0.appendChild(row0_td1);
         var row1_inp1 = document.createElement("textarea");
         row1_inp1.id = "textareaid";
         row1_inp1.name = "textareaname";
         row1_inp1.rows = "5";
         row1_inp1.cols = "40";
         row1_inp1.style.marginLeft = "235px";
         row1_inp1.style.marginTop = "1px";

         var row2 = document.createElement("tr");
         var row1_td2= document.createElement("td");
         var row1_inp2 = document.createElement("input");
         row1_inp2.type= "number";
         row1_inp2.id = "effortid";
         row1_inp2.name = "effortname";
         row1_inp2.style.marginLeft = "120px";
         row1_inp2.style.height = "40px";
         row1_inp2.style.width = "140px";
         row1_inp2.placeholder = "Effort in HRS";
         row1_td1.appendChild(row1_inp1);
         row1_td2.appendChild(row1_inp2);
         row1.appendChild(row1_td1);
         row2.appendChild(row1_td2);

         troubleshoot_table.appendChild(row0);
         troubleshoot_table.appendChild(row1);
         troubleshoot_table.appendChild(row2);
         di.appendChild(troubleshoot_table);
    }



</script>

<nav class="navbar navbar-default navbar-fixed-top" style="background : #0d0d0d; height : 80px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                   <div class="view">
                      <div class="plane main">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                      </div>
                    </div>
      <a class="navbar-brand" href="#" style="color:white;font-family: Copperplate,Copperplate Gothic Light;margin-left:50px;margin-top : 15px;">LEXICON</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav navbar-right">
     <!--<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"style = "font-family: Copperplate,Copperplate Gothic Light; font-size : 20px;color : white;margin-right:10px;">MORE
          <span class="caret"></span></a>
             <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top : 18px; background : none; border : none;">Dropdown Example
    <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" style="a:hover: yellow;">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Media</a></li>
          </ul>
        </li>-->
         <div class="dropdown">
            {%for userdetails in user_database%}
            <button class="dropbtn">Hello {{userdetails}}</button>
            {%endfor%}
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#" data-toggle="modal" data-target="#myModal">Log out</a>
  </div>
</div>
     </ul>
    </div>
  </div>
</nav>

  <!-- Modal Div starts here......-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LEXICON</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Log out?</p>
           <button type="button" id = "btn1"class="btn btn-primary" onclick="logout()">yes</button>
            <button type="button"  id = "btn2" data-dismiss="modal" class="btn btn-primary">No</button>
        </div>

      </div>

    </div>
  </div>

  <!-- Modal div ends here....-->
<div id="maindiv">
    <div id="subdiv">
             <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle task" id ="Req_gather" onclick="getbuttonname(id)" type="button" data-toggle="dropdown"  style="margin-top:1px;  border : none;">Requirement Gathering</button>
            <span class="caret" ></span></button>
          <ul class="dropdown-menu">
              <li><a href="#" id="fw_review" onclick="getoptionname(id)" >Firmware Review</a></li>
              <li><a href="#" id="prdreview" onclick="getoptionname(id)">PRD/PID Review</a></li>
              <li><a href="#" id="vdsreview" onclick="getoptionname(id)">DriverIso/VDS Review</a></li>
              <li><a href="#" id="basesheetreview" onclick="getoptionname(id)">Basesheet creation/review</a></li>
              <li><a href="#" id="prdunderstand" onclick="getoptionname(id)">Product Understanding</a></li>
              <li><a href="#" id="req_other" onclick="getoptionname(id)">Others</a></li>
          </ul>
        </li>
        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle task" id="plan" onclick="getbuttonname(id)" type="button" data-toggle="dropdown"  style="margin-top:1px;  border : none;">Planning</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#"id="modify_plan" onclick="getoptionname(id)">Create/Modify Plan</a></li>
            <li><a href="#" id="review" onclick="getoptionname(id)">Review</a></li>
            <li><a href="#" id="modify_testcase" onclick="getoptionname(id)">Create/Modify Test Case</a></li>
          </ul>
        </li>
        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="Test_Execution" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Test Execution</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#">TestBed Setup</a></li>
            <li><a href="#">Execution</a></li>
            <li><a href="#">Troubleshoot</a></li>
            <li><a href="#">Modify Testbed</a></li>
          </ul>
        </li>
        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="Test Reporting" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Test Reporting</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="statusupdate" onclick="getoptionname(id)">Status Update</a></li>
            <li><a href="#" id="hcl_prepare" onclick="getoptionname(id)">HCL Preparation</a></li>
            <li><a href="#" id="hcl-review" onclick="getoptionname(id)">HCL Review</a></li>
          </ul>
        </li>
        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="datacollection" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Data Collection</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="tm_collect" onclick="getoptionname(id)">TestMetrics Collection</a></li>
          </ul>
        </li>
      <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="org_act" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">ORG Activity</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="interview" onclick="getoptionname(id)">Interviews</a></li>
            <li><a href="#" id="inititative" onclick="getoptionname(id)">Initiatives</a></li>
            <li><a href="#" id="org_others" onclick="getoptionname(id)">others</a></li>
          </ul>
      </li>

       <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="valueadds" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Value Adds</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="whitepaper" onclick="getoptionname(id)">White Papers</a></li>
            <li><a href="#" id="patent" onclick="getoptionname(id)">Patents</a></li>
            <li><a href="#"id="value_other" onclick="getoptionname(id)">others</a></li>
          </ul>
      </li>

        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="self_learning" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Self Learning</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="certifications" onclick="getoptionname(id)">Certifications</a></li>
            <li><a href="#" id="yorbit" onclick="getoptionname(id)">Yorbit</a></li>
            <li><a href="#" id="self_others" onclick="getoptionname(id)">others</a></li>
          </ul>
      </li>

        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="Team Activity" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Team Activities</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="tech" onclick="getoptionname(id)">Tech Sessions</a></li>
            <li><a href="#" id="kt" onclick="getoptionname(id)">KT</a></li>
            <li><a href="#" id="team_interview" onclick="getoptionname(id)">Interviews</a></li>
            <li><a href="#" id="outing" onclick="getoptionname(id)">Team Outing/Lunch/Other</a></li>
          </ul>
      </li>

        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id ="Automation" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Automation</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="#" id="auto_plan" onclick="getoptionname(id)">Planning</a></li>
            <li><a href="#" id="scripting" onclick="getoptionname(id)">Scripting</a></li>
            <li><a href="#" id="testing" onclick="getoptionname(id)">Unit Testing</a></li>
            <li><a href="/Review" id="auto_review" onclick="getoptionname(id)">Review</a></li>
          </ul>
      </li>

        <li class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id ="upload_testcase" onclick="getbuttonname(id)" data-toggle="dropdown" style="margin-top:1px;  border : none;">Upload TestCase</button>
            <span class="caret" ></span>
             <ul class="dropdown-menu">
            <li><a href="/Activity/upload_testcase" id="uploadtestcase">Upload TestCase</a></li>
          </ul>
      </li>

    </div>
    <form id="other_testcaseform" method="POST" action="/Activity/save_othertestcase/">{% csrf_token %}
        <div id="contentdiv">
            <select id="custom" onchange="alltestcase()">
                <option>Select Release</option>
                <option>GPMR1</option>
                <option>GPMR2</option>
                <option>GP</option>

            </select>
            <button type="submit" id="subbutton" class="btn btn-success">Submit</button>

            </div>
        </form>
</div>
</body>
</html>
